@import "_reset";
@import "_mixin";
@import "_inc";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


.bg {
    position: relative;
    background-image: url("../img/grass-1784140_1920_2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 400px;
    > h2 {
      @include h2();
      z-index: 99;
    }
    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/bottom.png");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: bottom;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0%;
      z-index: 88;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
//////////////////
.indicator{
    max-width: 1320px;
    margin: 0 auto;
    margin-bottom: 80px;
    >ul{
        @include flex(flex-start,center);
        >li{
            font-size: 14px;
            padding-right: 20px;
            margin-right: 10px;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-image: url("../img/icon.png");
                background-size: 100% 100%;
                width: 8px;
                height: 12px;
                margin-left: 10px;
            }
            &:nth-last-of-type(1){
                color: #90BC43;
                &::after{
                    content: "";
                    background: none;
                }
            }
        }
    }
}
///////////////////

// -------------------------------480-----------------------------------
@media(max-width:480px){
    main{
        .bg{height: 200px;}
        .indicator{padding: 0 20px;}
        min-width: 380px;
        .intro{
                @include main-width($w:none, $p:0 20px);
                .intro_content{
                    margin-bottom: 100px;
                    .whole{
                        .ex_top{
                            display: block;
                            justify-content: left;
                            align-items: start;
                            .ex_left{
                                width: 100%;
                                max-height: 390px;
                                overflow: hidden;
                                img{
                                    width: 100%;
                                }
                            }
                            .ex_right{
                                margin-top: 20px;
                                width: 100%;
                                height: 100%;
                                .ex_right_top{
                                    h1{
                                        font-family: 'Noto Sans KR', sans-serif;
                                        color: #5B5E5F;
                                        font-size: 20px;
                                        font-weight: 600;
                                        margin-bottom: 10px;
                                    }
                                    h2{
                                        font-family: 'Noto Sans KR', sans-serif;
                                        color: rgba(204, 204, 204, 0.80);
                                        font-size: 14px;
                                        font-weight: 700;
                                        margin-bottom: 40px;
                                    }
                                    .detail{
                                        .detail_p{
                                            display: block;
                                            align-items: center;
                                            div{
                                                span{
                                                    color: #4E813B;
                                                    font-size: 14px;
                                                    font-family: 'Noto Sans KR', sans-serif;
                                                    font-weight: 500;
                                                }
                                                p{
                                                    display: inline-flex;
                                                    font-size: 14px;
                                                    font-family: 'Noto Sans KR', sans-serif;
                                                    margin-bottom: 15px;
                                                    line-height: 1.3;
                                                }
                                            }
                                            div:nth-of-type(1),div:nth-of-type(4){
                                                width: auto;
                                            }
                                            div:nth-of-type(2),div:nth-of-type(5){
                                                width: auto;
                                            }
                                        }
                                    }
                                }
                                >hr{
                                    margin: 20px 0;
                                    background: #EDEDED;
                                    height:1px;
                                    border:0;
                                }
                                .ex_right_bottom{
                                    align-items: center;
                                    font-family: 'Noto Sans KR', sans-serif;
                                    color: #5B5E5F;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 1.7;
                                    letter-spacing: -1px;
                                }
                            }
                        }
                        >hr{
                            margin: 20px 0;
                            background: #A8A8A8;
                            height:1px;
                            border:0;
                        }
                        .ex_bottom{
                            display: block;
                            padding: 10px 0;
                            .event_con{
                                img{
                                    width: 100%;
                                    max-width: 800px;
                                    margin: 0 auto;
                                }
                            }
                        }
                        .exDeImg{
                            >hr{
                                display: block;
                                margin: 60px 0;
                                background: #EDEDED;
                                height:1px;
                                border:0;
                            }
                            >p{
                                margin-bottom: 20px;
                                font-family: 'Noto Sans KR', sans-serif;
                                font-size: 18px;
                                color: #4E813B;
                                font-weight: 500;
                            }
                            .exDeImgWhole{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                >a{
                                    display: inline-block;
                                    width: 30%;
                                    margin-bottom: 20px;
                                    >img{
                                        display: inline-block;
                                        max-width: auto;
                                        width: 100%;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        .popup {
                            position: fixed;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100vh;
                            background-color: rgba(0, 0, 0, 0.6);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            display: none;
                            z-index: 1000;
                            >img{
                                max-width: 300px;
                                max-height: 750px;
                            }
                        }
                        .backList{
                            width: 100%;
                            display: flex;
                            justify-content: right;
                            .btn_list {
                                margin-top: 100px;
                                width: 70px;
                                height: 40px;
                                border-radius: 10px;
                                background: #90be45;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                p{
                                  display: block;
                                  color: #fff;
                                  text-align: center;
                                  font-size: 16px;
                                  font-weight: 500;
                                }
                              }
                        }
                    }
                }
            }
        }
}

// ----------------------------481~760-----------------------------------
@media (min-width:481px) and (max-width:1023px){
    main{
        .bg{height: 200px;}
        .indicator{padding: 0 20px;}
        .intro{
                @include main-width($p:0 20px);
                .intro_content{
                    margin-bottom: 100px;
                    .whole{
                        .ex_top{
                            display: flex;
                            justify-content: left;
                            align-items: start;
                            .ex_left{
                                img{
                                    min-width: 110px;
                                    max-width: 290px;
                                    width: 100%;
                                }
                                margin-right: 40px;
                            }
                            .ex_right{
                                width: 100%;
                                height: 100%;
                                .ex_right_top{
                                    h1{
                                        font-family: 'Noto Sans KR', sans-serif;
                                        color: #5B5E5F;
                                        font-size: 20px;
                                        font-weight: 600;
                                        margin-bottom: 10px;
                                    }
                                    h2{
                                        font-family: 'Noto Sans KR', sans-serif;
                                        color: rgba(204, 204, 204, 0.80);
                                        font-size: 14px;
                                        font-weight: 700;
                                        margin-bottom: 40px;
                                    }
                                    .detail{
                                        .detail_p{
                                            display: block;
                                            align-items: center;
                                            div{
                                                span{
                                                    color: #4E813B;
                                                    font-size: 14px;
                                                    font-family: 'Noto Sans KR', sans-serif;
                                                    font-weight: 500;
                                                }
                                                p{
                                                    display: inline-flex;
                                                    font-size: 14px;
                                                    font-family: 'Noto Sans KR', sans-serif;
                                                    margin-bottom: 15px;
                                                    line-height: 1.3;
                                                }
                                            }
                                            div:nth-of-type(1),div:nth-of-type(4){
                                                width: auto;
                                            }
                                            div:nth-of-type(2),div:nth-of-type(5){
                                                width: auto;
                                            }
                                        }
                                    }
                                }
                                >hr{
                                    width: 100%;
                                    margin: 40px 0;
                                    background: #EDEDED;
                                    height:1px;
                                    border:0;
                                }
                                .ex_right_bottom{
                                    align-items: center;
                                    font-family: 'Noto Sans KR', sans-serif;
                                    color: #5B5E5F;
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 1.7;
                                    letter-spacing: -1px;
                                }
                            }
                        }
                        >hr{
                            margin: 60px 0;
                            background: #A8A8A8;
                            height:1px;
                            border:0;
                        }
                        .ex_bottom{
                            display: block;
                            padding: 10px 0;
                            .event_con{
                                img{
                                    width: 100%;
                                    max-width: 800px;
                                    margin: 0 auto;
                                }
                            }
                        }
                        .exDeImg{
                            >hr{
                                display:block;
                                margin: 60px 0;
                                background: #EDEDED;
                                height:1px;
                                border:0;
                            }
                            >p{
                                margin-bottom: 20px;
                                font-family: 'Noto Sans KR', sans-serif;
                                font-size: 18px;
                                color: #4E813B;
                                font-weight: 500;
                            }
                            .exDeImgWhole{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                >a{
                                    display: inline-block;
                                    width: 30%;
                                    margin-bottom: 20px;
                                    >img{
                                        display: inline-block;
                                        max-width: auto;
                                        width: 100%;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        .popup {
                            position: fixed;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100vh;
                            background-color: rgba(0, 0, 0, 0.6);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            display: none;
                            z-index: 1000;
                            >img{
                                max-width: 400px;
                                max-height: 750px;
                            }
                        }
                        .backList{
                            width: 100%;
                            display: flex;
                            justify-content: right;
                            .btn_list {
                                margin-top: 100px;
                                width: 70px;
                                height: 40px;
                                border-radius: 10px;
                                background: #90be45;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                p{
                                  display: block;
                                  color: #fff;
                                  text-align: center;
                                  font-size: 16px;
                                  font-weight: 500;
                                }
                              }
                        }
                    }
                }
            }
        }
}


// ----------------------------1024-----------------------------------
@media (min-width:1024px){
    main{
        .indicator{padding: 0 20px;}
        .intro{
                @include main-width();
                .intro_content{
                    margin-bottom: 100px;
                    .whole{
                        .ex_top{
                            display: flex;
                            justify-content: space-between;
                            align-items: start;
                            .ex_left{
                                img{
                                    width: 290px;
                                }
                                margin-right: 40px;
                            }
                            .ex_right{
                                height: 100%;
                                .ex_right_top{
                                    h1{
                                        font-family: 'Noto Sans KR', sans-serif;
                                        color: #5B5E5F;
                                        font-size: 24px;
                                        font-weight: 600;
                                        margin-bottom: 10px;
                                    }
                                    h2{
                                        font-family: 'Noto Sans KR', sans-serif;
                                        color: rgba(204, 204, 204, 0.80);
                                        font-size: 16px;
                                        font-weight: 700;
                                        margin-bottom: 55px;
                                    }
                                    .detail{
                                        .detail_p{
                                            display: flex;
                                            align-items: center;
                                            div{
                                                span{
                                                    color: #4E813B;
                                                    font-size: 16px;
                                                    font-family: 'Noto Sans KR', sans-serif;
                                                    font-weight: 500;
                                                }
                                                p{
                                                    display: inline-flex;
                                                    font-size: 16px;
                                                    font-family: 'Noto Sans KR', sans-serif;
                                                    margin-bottom: 15px;
                                                    line-height: 1.3;
                                                }
                                            }
                                            div:nth-of-type(1),div:nth-of-type(4){
                                                width: 320px;
                                            }
                                            div:nth-of-type(2),div:nth-of-type(5){
                                                width: 350px;
                                            }
                                        }
                                    }
                                }
                                >hr{
                                    margin: 40px 0;
                                    background: #EDEDED;
                                    height:1px;
                                    border:0;
                                }
                                .ex_right_bottom{
                                    display: flex;
                                    align-items: center;
                                    font-family: 'Noto Sans KR', sans-serif;
                                    color: #5B5E5F;
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 1.7;
                                    letter-spacing: -1px;
                                }
                            }
                        }
                        >hr{
                            margin: 60px 0;
                            background: #A8A8A8;
                            height:1px;
                            border:0;
                        }
                        .ex_bottom{
                            display: block;
                            padding: 10px 0;
                            .event_con{
                                img{
                                    width: 800px;
                                    margin: 0 auto;
                                }
                            }
                        }
                        .exDeImg{
                            >hr{
                                display: block;
                                margin: 60px 0;
                                background: #EDEDED;
                                height:1px;
                                border:0;
                            }
                            >p{
                                margin-bottom: 20px;
                                font-family: 'Noto Sans KR', sans-serif;
                                font-size: 18px;
                                color: #4E813B;
                                font-weight: 500;
                            }
                            .exDeImgWhole{
                                display: inline;
                                >a{
                                    display: inline-block;
                                    margin-bottom: 20px;
                                    >img{
                                        display: inline-block;
                                        max-width: 200px;
                                        width: 100%;
                                        cursor: pointer;
                                        margin-right: 20px;
                                    }
                                }
                            }
                        }
                        .popup {
                            position: fixed;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100vh;
                            background-color: rgba(0, 0, 0, 0.6);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            display: none;
                            z-index: 1000;
                            >img{
                                max-width: 600px;
                                max-height: 750px;
                            }
                        }
                        .backList{
                            width: 100%;
                            display: flex;
                            justify-content: right;
                            .btn_list {
                                margin-top: 100px;
                                width: 70px;
                                height: 40px;
                                border-radius: 10px;
                                background: #90be45;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                p{
                                  display: block;
                                  color: #fff;
                                  text-align: center;
                                  font-size: 16px;
                                  font-weight: 500;
                                }
                              }
                        }
                    }
                }
            }
        }
}



//-----------------------------------------------------------------
@import "_t-inc";
@import "_m-inc";