@import "_reset";
@import "_mixin";
@import "_inc";
.bg {
    position: relative;
    background-image: url("../img/grass-1784140_1920_2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 400px;
    > h2 {
      @include h2();
      z-index: 90;
    }
    &::after {
      position: absolute;
      content: "";
      background-image: url("../img/bottom.png");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: bottom;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0%;
      z-index: 88;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
//////////////////
.indicator {
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-left: 20px;
    >ul {
        @include flex(flex-start, center);
  
        >li {
            font-size: 14px;
            padding-right: 20px;
            margin-right: 10px;
            position: relative;
  
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-image: url("../img/icon.png");
                background-size: 100% 100%;
                width: 8px;
                height: 12px;
                margin-left: 10px;
            }
  
            &:nth-last-of-type(1) {
                color: #90BC43;
  
                &::after {
                    content: "";
                    background: none;
                }
            }
        }
    }
  }
@media(min-width:1024px){

    .sub-f{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 95px;
        p{
            font-size: 20px;
        }
    }
    //부제목
    
    .nnn{
        max-width: 1280px;
        gap: 4%;
        margin: 0 auto;
        margin-bottom: 120px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0 20px;
       li{
        
        width: 22%;
        .ssspace{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 31px;
            span{
                color: rgb(40, 40, 40);
                border-radius: 100px;
                font-weight: bold;
                margin:13px 0;
                background-color: #C2D42E;
                width: 70px; height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            p{
               
                color: #58585A;
                line-height: 1.5;
                font-weight: bold;
            }
            p:nth-of-type(2){
                font-weight: normal;
            }
            p:last-of-type{
                line-height: 2.5;
                opacity: 50%;
                font-size: 14px;
            }
        }
        .ssspace.on{
            span{
                background-color: #F0A12A;
                color: white;
                width: 80px;
                height: 28px;
            }      
        }
        .sspace{
            width: 100%;
            aspect-ratio: 1;
            position: relative;
            border-radius: 20px;
            img{
                border-radius: 20px;
                width:100%; height: 100%;
            }
        }
        .sspace.on{
            .ab {
                z-index: 2;
                position: absolute;
                bottom: 45%;
                width: 100%;
                text-align: center;
                line-height: 1.5;

                p {
                    color: white;
                }
            }
              &::after{
                         content:'';
                         position:absolute;
                         bottom: 0; left: 0;
                         width: 100%; height: 100%;
                         border-radius: 20px;
                         background: rgba(0, 0, 0, 0.5);
                 }
        }
       }
       
    }
    
    //갤러리
}
@media(min-width:481px) and (max-width:1023px){
    .bg{height: 200px;}
    .indicator{padding: 0 20px;}
    .sub-f{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 95px;
        p{
            font-size: 20px;
        }
    }
    //부제목
    
    .nnn{
        margin: 0 auto;
        margin-bottom: 120px;
        display: flex;
        justify-content: flex-start;
        gap: 6%;
        padding-left: 6%;
        flex-wrap: wrap;
        list-style-type: none;
       li{
        
        width: 44%;
        .ssspace{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 31px;
            span{
                color: rgb(40, 40, 40);
                border-radius: 100px;
                font-weight: bold;
                margin:13px 0;
                background-color: #C2D42E;
                width: 70px; height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            p{
                word-break: keep-all;
                color: #58585A;
                line-height: 1.5;
                font-weight: bold;
            }
            p:nth-of-type(2){
                font-weight: normal;
            }
            p:last-of-type{
                line-height: 2.5;
                opacity: 50%;
                font-size: 14px;
            }
        }
        .ssspace.on{
            span{
                background-color: #F0A12A;
                color: white;
                width: 80px;
                height: 28px;
            }
        }
        .sspace{
            width: 100%;
            aspect-ratio: 1;
            position: relative;
            border-radius: 20px;
            img{
                border-radius: 20px;
                width:100%; height: 100%;
            }
        }
        .sspace.on{
            .ab {
                z-index: 2;
                position: absolute;
                bottom: 45%;
                width: 100%;
                text-align: center;
                line-height: 1.5;

                p {
                    color: white;
                }
            }
              &::after{
                         content:'';
                         position:absolute;
                         bottom: 0; left: 0;
                         width: 100%; height: 100%;
                         border-radius: 20px;
                         background: rgba(0, 0, 0, 0.5);
                 }
        }
       }
       
    }
    
    //갤러리
   
}
@media(max-width:480px){
    .bg{height: 200px;}
    .indicator{padding: 0 20px;}

    .sub-f{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 95px;
        p{
            font-size: 20px;
        }
    }
    //부제목
    
    .nnn{
        margin: 0 auto;
        margin-bottom: 120px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
       li{
        margin: 0 20.5px;
        width: 80%;
        .ssspace{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 31px;
            span{
                color: rgb(40, 40, 40);
                border-radius: 100px;
                font-weight: bold;
                margin:13px 0;
                background-color: #C2D42E;
                width: 70px; height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            p{
                color: #58585A;
                line-height: 1.5;
                font-weight: bold;
            }
            p:nth-of-type(2){
                font-weight: normal;
            }
            p:last-of-type{
                line-height: 2.5;
                opacity: 50%;
                font-size: 14px;
            }
        }
        .ssspace.on{
            span{
                background-color: #F0A12A;
                color: white;
                width: 80px;
                height: 28px;
            }
        }
        .sspace{
            width: 100%;
            aspect-ratio: 1;
            position: relative;
            border-radius: 20px;
            img{
                border-radius: 20px;
                width:100%; height: 100%;
            }
        }
        .sspace.on{
            .ab {
                z-index: 2;
                position: absolute;
                bottom: 45%;
                width: 100%;
                text-align: center;
                line-height: 1.5;

                p {
                    color: white;
                }
            }
              &::after{
                         content:'';
                         position:absolute;
                         bottom: 0; left: 0;
                         width: 100%; height: 100%;
                         border-radius: 20px;
                         background: rgba(0, 0, 0, 0.5);
                 }
        }
       }
       
    }
    
    //갤러리

}

@import "t-inc";
@import "m-inc";