@import "_reset";
@import "_mixin";
@import "_inc";

.bg {
    position: relative;
    background-image: url("../img/bg111.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    width: 100%;
    height: 400px;

    >h2 {
        @include h2();
        z-index: 99;
    }

    &::after {
        position: absolute;
        content: '';
        background-image: url("../img/bottom.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0%;
        z-index: 88;
        background-color: rgba(0, 0, 0, 0.3);
    }
}


//////////////////
.indicator {
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-left: 20px;
    >ul {
        @include flex(flex-start, center);

        >li {
            font-size: 14px;
            padding-right: 20px;
            margin-right: 10px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                background-image: url("../img/icon.png");
                background-size: 100% 100%;
                width: 8px;
                height: 12px;
                margin-left: 10px;
            }

            &:nth-last-of-type(1) {
                color: #90BC43;

                &::after {
                    content: "";
                    background: none;
                }
            }
        }
    }
}
@media(min-width:1024px) {
  

    ///////////////////
    .text {
        display: flex;
        justify-content: center;

        p {
            cursor: pointer;
            position: relative;
            margin-bottom: 37px;

            span {
                color: #58585A;
                font-size: 20px;
                margin: 0 50px;
            }
        }

        p.on {
            span {
                color: #4E813B;
            }

            span::after {
                content: "";
                position: absolute;
                width: 40%;
                height: 3px;
                background: #4E813B;
                bottom: -15px;
                left: 30.5%;
            }
        }
    }

    .yy{
        padding: 0 20px;
            //부제목

    .inout {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 65px auto;

        input {
            border-radius: 5px;
        }

        input:nth-of-type(1) {
            border: 1px solid #8e8e8f;
            margin-right: 10px;
            width: 400px;
            height: 35px;
            text-align: center;
        }

        input:nth-of-type(2) {
            cursor: pointer;
            background-color: #90BC43;
            color: white;
            width: 60px;
            height: 35px;
            border: none;
        }
    }

    //검색
    .nnn.on {
        display: flex;
    }

    .nnn {
        max-width: 1280px;
        
        gap: 4%;
        margin: 0 auto;
        display: none;
        justify-content: flex-start;
        flex-wrap: wrap;
        list-style-type: none;

        .sspace {
            width: 22%;
            aspect-ratio: 1;
            margin-bottom: 50px;
            position: relative;
            border: 1px solid #e4e4e7;
            border-radius: 20px;
            box-shadow: 3px 3px 10px -5px #777;

            .haha {
                position: absolute;
                top: 10px;
                left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                background-color: #90BC43;
                width: 75px;
                height: 25px;

                p {
                    color: white !important;
                    font-size: 12px;
                }
            }

            .haha.on {
                background-color: #F0A12A;
            }

            img {
                margin: 0 auto;
                object-fit: cover;
                border-radius: 20px;
                width: 75%;
                height: 75%;
            }

            .ab {
                z-index: 2;
                position: absolute;
                bottom: 5px;
                width: 100%;
                text-align: center;
                line-height: 1.5;


                p:first-of-type {
                    color: black;
                    font-weight: bold;
                }

                p:nth-of-type(2) {
                    color: #58585a;
                    opacity: 50%;
                }

                .center {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        margin: 10px 2px;
                        display: inline-block;
                        line-height: 1.7;
                        font-size: 12px;
                        width: 22px;
                        height: 22px;
                        background-color: #B9B9B9;
                        color: #fff;
                        border-radius: 50%;
                    }

                    span.on {
                        background-color: #90BC43;
                    }
                }

            }
        }
    }
    }

    .next {
        margin: 120px auto;
        display: flex;
        justify-content: center;

        .numbox {
            max-width: 150px;
            overflow: hidden;
            display: flex;
            align-items: center;

            .number {
                flex-shrink: 0;
                transition: 0.5s;

                >span {
                    text-align: center;
                    display: inline-block;
                    width: 30px;
                    padding: 8px 0px;
                }

                >.on {
                    border-radius: 10px;
                    background-color: #90BC43;
                    color: white;
                }
            }
        }

        button {
            cursor: pointer;
            background-color: transparent;
            color: #58585A;
            font-size: 16px;
            font-weight: bold;
            width: 30px;
            height: 30px;
            border: none;
            margin: 0 5px;

        }

        button:first-of-type,
        button:last-of-type {
            width: 45px;
        }

        button.on {
            border-radius: 10px;
            background-color: #90BC43;
            color: white;
        }
    }

    //갤러리
}


@media(min-width:481px) and (max-width:1023px) {
    .bg{height: 200px;}
    .indicator{padding: 0 20px;}

    ///////////////////
    .text {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        p {
            margin: 25px 5%;
            cursor: pointer;
            position: relative;
            margin-bottom: 20px;

            span {
                color: #58585A;
                font-size: 18px;
            }
        }

        p.on {
            span {
                color: #4E813B;
            }

            span::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                background: #4E813B;
                bottom: -15px;
                left: 2%;
            }
        }
    }

    //부제목

    .inout {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 65px auto;
        padding: 0 20px;

        input {
            border-radius: 5px;
        }

        input:nth-of-type(1) {
            border: 1px solid #8e8e8f;
            margin-right: 10px;
            width: 300px;
            height: 35px;
            text-align: center;
        }

        input:nth-of-type(2) {
            cursor: pointer;
            background-color: #90BC43;
            color: white;
            width: 60px;
            height: 35px;
            border: none;
        }
    }

    //검색
    .nnn.on {
        display: flex;
    }

    .nnn {
        gap: 6%;
        margin: 0 auto;
        padding-left: 6%;
        display: none;
        justify-content: flex-start;
        flex-wrap: wrap;
        list-style-type: none;

        .sspace {
            width: 44%;
            aspect-ratio: 1;
            margin-bottom: 40px; 
            position: relative;
            border: 1px solid #e4e4e7;
            border-radius: 20px;
            box-shadow: 3px 3px 10px -5px #777;

            .haha {
                position: absolute;
                top: 10px;
                left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                background-color: #90BC43;
                width: 75px;
                height: 25px;

                p {
                    color: white !important;
                    font-size: 12px;
                }
            }

            .haha.on {
                background-color: #F0A12A;
            }

            img {
                margin: 0 auto;
                object-fit: cover;
                border-radius: 20px;
                width: 75%;
                height: 75%;
            }

            .ab {
                z-index: 2;
                position: absolute;
                bottom: 5px;
                width: 100%;
                text-align: center;
                line-height: 1.5;


                p:first-of-type {
                    color: black;
                    font-weight: bold;
                }

                p:nth-of-type(2) {
                    color: #58585a;
                    opacity: 50%;
                }

                .center {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        margin: 10px 2px;
                        display: inline-block;
                        line-height: 1.7;
                        font-size: 12px;
                        width: 22px;
                        height: 22px;
                        background-color: #B9B9B9;
                        color: #fff;
                        border-radius: 50%;
                    }

                    span.on {
                        background-color: #90BC43;
                    }
                }

            }
        }
    }

    .next {
        margin: 120px auto;
        display: flex;
        justify-content: center;

        .numbox {
            max-width: 150px;
            overflow: hidden;
            display: flex;
            align-items: center;

            .number {
                flex-shrink: 0;
                transition: 0.5s;

                >span {
                    text-align: center;
                    display: inline-block;
                    width: 30px;
                    padding: 8px 0px;
                }

                >.on {
                    border-radius: 10px;
                    background-color: #90BC43;
                    color: white;
                }
            }
        }

        button {
            cursor: pointer;
            background-color: transparent;
            color: #58585A;
            font-size: 16px;
            font-weight: bold;
            width: 30px;
            height: 30px;
            border: none;
            margin: 0 5px;

        }

        button:first-of-type,
        button:last-of-type {
            width: 45px;
        }

        button.on {
            border-radius: 10px;
            background-color: #90BC43;
            color: white;
        }
    }

    //갤러리
}

@media
(max-width:480px) {

    .bg{height: 200px;}
    .indicator{padding: 0 20px;}
        .text {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
    
            p {
                margin: 25px 5%;
                cursor: pointer;
                position: relative;
                margin-bottom: 20px;
    
                span {
                    color: #58585A;
                    font-size: 16px;
                }
            }
    
            p.on {
                span {
                    color: #4E813B;
                }
    
                span::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 3px;
                    background: #4E813B;
                    bottom: -15px;
                    left: 4%;
                }
            }
        }
    
        //부제목
    
        .inout {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 65px auto;
            padding: 0 20px;
    
            input {
                border-radius: 5px;
            }
    
            input:nth-of-type(1) {
                border: 1px solid #8e8e8f;
                margin-right: 10px;
                width: 200px;
                height: 35px;
                text-align: center;
            }
    
            input:nth-of-type(2) {
                cursor: pointer;
                background-color: #90BC43;
                color: white;
                width: 60px;
                height: 35px;
                border: none;
            }
        }
    
        //검색
        .nnn.on {
            display: flex;
        }
    
        .nnn {
            margin: 0 auto;
            display: none;
            justify-content: center;
            flex-wrap: wrap;
            list-style-type: none;
    
            .sspace {
                width: 80%;
                aspect-ratio: 1;
                margin: 15.5px 20.5px;
                position: relative;
                border: 1px solid #e4e4e7;
                border-radius: 20px;
                box-shadow: 3px 3px 10px -5px #777;
    
                .haha {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    background-color: #90BC43;
                    width: 75px;
                    height: 25px;
    
                    p {
                        color: white !important;
                        font-size: 12px;
                    }
                }
    
                .haha.on {
                    background-color: #F0A12A;
                }
    
                img {
                    margin: 0 auto;
                    object-fit: cover;
                    border-radius: 20px;
                    width: 75%;
                    height: 75%;
                }
    
                .ab {
                    z-index: 2;
                    position: absolute;
                    bottom: 5px;
                    width: 100%;
                    text-align: center;
                    line-height: 1.5;
    
    
                    p:first-of-type {
                        color: black;
                        font-weight: bold;
                    }
    
                    p:nth-of-type(2) {
                        color: #58585a;
                        opacity: 50%;
                    }
    
                    .center {
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                        span {
                            margin: 10px 2px;
                            display: inline-block;
                            line-height: 1.7;
                            font-size: 12px;
                            width: 22px;
                            height: 22px;
                            background-color: #B9B9B9;
                            color: #fff;
                            border-radius: 50%;
                        }
    
                        span.on {
                            background-color: #90BC43;
                        }
                    }
    
                }
            }
        }
    
        .next {
            margin: 120px auto;
            display: flex;
            justify-content: center;
    
            .numbox {
                max-width: 150px;
                overflow: hidden;
                display: flex;
                align-items: center;
    
                .number {
                    flex-shrink: 0;
                    transition: 0.5s;
    
                    >span {
                        text-align: center;
                        display: inline-block;
                        width: 30px;
                        padding: 8px 0px;
                    }
    
                    >.on {
                        border-radius: 10px;
                        background-color: #90BC43;
                        color: white;
                    }
                }
            }
    
            button {
                cursor: pointer;
                background-color: transparent;
                color: #58585A;
                font-size: 16px;
                font-weight: bold;
                width: 30px;
                height: 30px;
                border: none;
                margin: 0 5px;
    
            }
    
            button:first-of-type,
            button:last-of-type {
                width: 45px;
            }
    
            button.on {
                border-radius: 10px;
                background-color: #90BC43;
                color: white;
            }
        }
    
        //갤러리     


}
@import "t-inc";
@import "m-inc";